.login{
    display: flex;
    justify-content: center;
}

.loginContainer {
  display:flex;
  flex-direction: column;
  margin: 20px;
  width: 50%;
}

.title{
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    text-align: center;
}

button{
    margin: 2px;
    background-color: rgb(8, 78, 230);
    color: #fff;
    border: 0;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
    
}

button:hover {
    background-color: rgb(3, 55, 168);
}

label.label-name {
    color: #fff;
}