body {
  background-color: #282c34;
}

p{
  color:#fff;
}

input {

  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  margin-bottom: 10px;
}

.navMenu{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10%;
}


.navMenu li{
  display: inline-block;
  padding: 0px 20px;
}

.navMenu ul li a {
  text-decoration: none;
  color: #fff;
}

.App {
  text-align: center;
}

